form {
    font-family: "Droid Sans",Helvetica,Arial,sans-serif;
}
body {
    background: #F8F9FA;
    font-size: 1.5em;
    min-width: 630px;
}

.form_class {
    margin: 9% 22% 0px 17%;
    padding: 23px 2% 0px 0%;
    border: solid cadetblue;
    height: 300px;
}
#form_id {
    padding-right: 10px;
}
.button_div {
    position: absolute;
    bottom: 40px;
    width: 100%;
}
.button_div button {
  position: relative;
}
#show_error ,#show_error_adduser,#show_error_edituser{
    color: red;
    display: block;
    width: 100%;
}
table, th, td {
    
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: #f2f2f2
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid;
}
th {
    background-color: darkgray;
    color: white;
}
tr:hover {
    background-color:#f5f5f5
}
#footer {
    clear: both;
}

#header, #footer {
    font-size:30px;
    padding: 20px;
    background: #BCCE98;
    text-align: center;
}
#footer-wrapper {
    position: relative;
    width: 100%;
    bottom: 0;
}
#container .column {
    padding-top: 1em;
}
#left {
    background: #DAE9BC;
    width: 180px;
    padding: 0 10px;
    right: 240px;
    margin-left: -100%;
}

#container {
    padding-left: 200px;
    padding-right: 190px;
    min-height: 475px;
}

#container .column {
    position: relative;
    float: left;
}
#nav {
    position: absolute;
    background: #eee;
    margin-left: -200px;
    height: 86%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 170px;
    background-color: #f1f1f1;
}
li a {
    font-size: 20px;
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}
#dashboard {
    color: orange;
    font-size: 30px;
    padding-top: 30px;
}
#table_contents ,#expensetable{
    padding: 40px 0% 0 17%;
}
#password_form, #email_form {
    float: left;
    padding-left: 35px;
    padding-top: 8px;
}
.input-label {
    width: 17%;
    display: inline-block;
    font-size: 15px;
}

.form-input {
    width: 47%;
    margin: none !important;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}
.form_inner label, .edit_inner label {
    width: 20%;
    text-align: right;
}
.form_inner input, .edit_inner input, .edit_inner select {
    width: 60%;
    margin-left: 5%;
}
.form_inner, .edit_inner{
    width: 400px;
    height: 280px;
    position: absolute;
    left: 10%;
    top: 0%;
    z-index: 999;
    background-color: ghostwhite;
    text-align: center;
    margin: 14% 15% 15% 25%;
}
#login_id {
    padding-top: 30px;
}

#btn_add, #btn_expense {
    padding-top: 38px;
    margin-left: 17%;
    margin-right: 45%;
}
.shadow-div {;
    display: none;
    position: absolute;
    background-color: grey;
    opacity: 0.3;
    width: 100%;
    z-index: 500;
    height: 100%;
}
.display_block {
    display: block;
}
#rowIcon td:first-child {
  background-image: url('../images/edit.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
#rowIcon td:first-child:hover {
  background-image: url('../images/edit_hover.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}
.edit_form_container {
  padding-top: 15px;
}
.heading{
    display: block;
    width: 100%;
}
.userM{
  padding-left: 8px;
  width: 90%;
  display: inline-block;
  text-align: center;
}
.logout{
    top: 0;
    float: right;
    position: fixed;
    margin: 3% 0 0% 78%;
}
.wrap table {
    width: 100%;
    table-layout: fixed;
}
table tr td {
    padding: 5px;
    border: 1px solid #eee;
    width: 100px;
    word-wrap: break-word;
}
table.head tr td {
    background: #eee;
}
.inner_table {
    height: 200px;
    overflow-y: auto;
}