<div side-bar></div>
<div id="add_id">
    <a class="btn btn-default" ng-click="ShowAdd()" style="margin-top:10px">Add</a>
</div>
<div ng-hide="showAddForm">
    <div class="form_outer">
      <div class="form_inner">
      <form  name="form" novalidate style="text-align:center">
          <h3>Add User</h3>
          <label for="firstname">First Name</label><input type="text" id="firstname" ng-model="firstname" required><br>
          <label for="lastname">Last Name</label><input type="text" id="lastname" ng-model="lastname" required><br>
          <label for="email">Email</label><input type="email" id="email" ng-model="email" required>
          <p ng-show="form.email.$invalid && !form.email.$pristine" class="help-block" style="color:red">Enter a valid email.</p><br>
          <div style="padding:10px">
            <button id="submit" ng-click="addRow()" ng-disabled="form.$invalid">Submit</button>
            <button id="cancel" ng-click="HideAdd()">Cancel</button>
          </div>
      </form>
        
      </div>
    </div>
</div>
<div ng-hide="showEditForm">
    <div class="edit_outer">
        <div class="edit_inner">
            <h3>Edit User</h3>
            <label for="first_name">First Name</label><input type="text" id="first_name"><br>
            <label for="last_name">Last Name</label><input type="text" id="last_name"><br>
            <label for="email_text">Email</label><input type="text" id="email_text"><br>
            <label for="status">Status:</label><select id="status"><option>Active</option><option>Inactive</option></select><br>
            <div style="padding:10px">
              <button id="edit_submit">Submit</button>
              <button id="edit_cancel" ng-click="HideEdit()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="table_contents">
    <table style="width:100%">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                   First Name
                </th>
                <th>
                   Last Name
                </th>
                <th>
                   Email
                </th>
                <th>
                   Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat =  "emp in data">
                <td>
                    <a ng-click="ShowEdit(e)" >Edit</a>
                </td>
                <td>
                    {{ emp.firstname }}
                </td>
                <td>
                    {{ emp.lastname }}
                </td>
                <td>
                    {{ emp.email }}
                </td>
                <td>
                    {{ emp.status }}
                </td>
            </tr>
        <tbody>
    </table>
</div>
