<div side-bar></div>
<div id="table_contents">
    <table>
        <thead>
            <tr>
                <th>
                   First Name
                </th>
                <th>
                   Last Name
                </th>
                <th>
                   Email
                </th>
                <th>
                   Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat =  "emp in data">
                <td>
                    {{ emp.firstname }}
                </td>
                <td>
                    {{ emp.lastname }}
                </td>
                <td>
                    {{ emp.email }}
                </td>
                <td>
                    {{ emp.status }}
                </td>
            </tr>
        <tbody>
    </table>
</div>